STATUS=PRODUCTION
API_URL=https://api.example.com/api/v1
URL_CMS=https://cms.example.com
URL_SCHEME=wiwitan
WEB_CLIENT_ID=
FB_APP_ID=
FB_CLIENT_TOKEN=
PROD_KEYSTORE_FILE=
PROD_KEYSTORE_PASSWORD=
PROD_KEY_ALIAS=
PROD_KEY_PASSWORD=
AUTO_LOGIN_EMAIL=
AUTO_LOGIN_PASSWORD=
